# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/.soft_pwm.ko.cmd
/.soft_pwm.mod.o.cmd
/.soft_pwm.o.cmd
/.tmp_versions/
/Module.symvers
/modules.order
/soft_pwm.ko
/soft_pwm.mod.c

